@charset "UTF-8";
.wf-loading {
  visibility: hidden;
}

.wf-active, .wf-inactive {
  visibility: visible;
}

@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

::-moz-selection {
  background-color: #464646;
  color: white;
}

::selection {
  background-color: #464646;
  color: white;
}


html {
	font-size: 16px;
	width: 100%;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:after, *:before {
	margin: 0; 
	padding: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	position: relative;
	overflow-x: hidden;
	font-size: 2.0625rem;
	line-height: 1.212121212;

	width: 100%;
	background-color: #f2eeca;
	color: #ca9c30;
}



/* --------- TYPOGRAPHY ---------- */

body {
	font-family: orpheuspro,serif;
	font-weight: 400;
	font-style: normal;
	
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a {text-decoration: none; color: #ca9c30;}
a.look {cursor: url('../images/eye.svg'), pointer;}

.underline {
	display: inline-block;
	border-bottom: solid 1px #343332;
}

.interstate {
	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: .875rem;
	line-height: .8;
	line-height: 1;
}

.medium {font-weight: 500;}
ul {list-style: none;}
ul li {margin-left: 0; padding-left: 0;}
.text-center {text-align: center;}

.large {font-size: 2.0625rem;}

@media only screen and (min-width: 58em) {
	.large {
		font-size: 3.75rem;
		line-height: 1.133333333;
	}
}

@media only screen and (max-width: 58em) {
	.small {
		font-size: 1.45rem;
		line-height: 1.36;
	}	
}

@font-face {
    font-family: 'pilowlavaregular';
    src: url('../fonts/pilowlava-regular-webfont.woff2') format('woff2'),
         url('../fonts/pilowlava-regular-webfont.woff') format('woff'),
		 url('../fonts/pilowlava-regular-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {font-weight: 500;}



/* -------- COLORS -------- */

.main-text-color {fill: #ca9c30;}
.blue-bg {background-color: #375dbd;}
.pink {color: #ebb4eb;}
.beige {color: #f2eeca;}
.charcoal {color: #343332;}


/* Background Colors */
.bex {background-color: #fbd56f;}
.okk {background-color: #eb99e7; background-color: #99a8eb; background-color: #b099eb;}
.kerden {background-color: #f2eeca;}
.iron-north {background-color: #3a484f;}


/* Text Colors */
.okk, .okk a {color: white !important;}
.iron-north, .iron-north a {color: #c5aef3 !important;}
.iron-north .info-col p, .iron-north .info-col ul {color: #ffffff;}



/* -------- LAYOUT -------- */


.flex {display: flex;}

.row {flex-direction: row;}
.col {flex-direction: column;}
.wrap {flex-wrap: wrap;}

.space-between {justify-content: space-between;}

.center {align-items: center;}

.inline-block a {
	display: inline-block;
}

@media only screen and (min-width: 45rem) {
	.two-col div:first-child {margin-right: 20px;}
	.two-col div:second-child {margin-left: 20px;}
	
	.three-col div:first-child {margin-right: 20px;}
	.three-col div:second-child {margin-left: 20px; margin-right: 20px;}
	.three-col div:nth-child(3) {margin-left: 20px;}
}

@media only screen and (max-width: 45rem) {
	.col-sm {
		flex-direction: column;
	}
}

.flex-img {
	display: block; 
	width: 100%;
}

.container {
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	margin: 0 auto;
}

.container-internal {
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	margin: 0 auto;
}

.space-below {margin-bottom: 20px;}

.project-box {
	padding: 7% 4%
}

.project-box-wrapper {
	margin: 0 auto;
	max-width: 1220px;
	overflow: hidden;
	width: 100%;
}

.project-box-content {
	width: 100%;
}

.project-box-img {
	width: 100%;
	transform-origin: 0 center;
	transition: all 400ms ease-in-out;
	display: inline-block;
	margin-right: -10rem; 
	position: relative;
	z-index: 1;
}

.project-box-link {
	opacity: 0;
	transition: all 400ms ease-in-out;
	width: 10rem;
	text-align: right;
	position: relative;
	z-index: 0;
}

@media only screen and (max-width: 58em) {
	.project-box-link {display: none;}
}

@media only screen and (min-width: 58em) {
	.project-box-wrapper:hover {
		cursor: url('../images/eye.svg'), pointer;
	}
	
	.project-box-wrapper:hover .project-box-img {
		transform: translateX(-12rem);
	}

	.project-box-wrapper:hover .project-box-link {
		opacity: 1;

	}
}

/* -------- HEADER, FOOTER & NAVS -------- */

header, .headline .container, header, footer .container {
	display: flex;
	flex-direction: row;;
	align-items: center;
	padding-top: .8rem;
	padding-bottom: .8rem ;
}

/*
.headline {
	background-image:url(../images/arrow-2.svg); 
	background-size: 70%; 
	background-attachment: fixed; 
	background-position: center;
	background-repeat: no-repeat;
}
*/

.header-left, .header-right, .footer-left, .footer-right {width: 50%;}
.header-right, .footer-right {text-align: right;}

header svg {width: 9.5rem}

.main-nav ul li, footer nav ul li {display: inline; margin-left: 1.5rem;}

.project-nav-top {width: 100%; padding-top: 1rem;}

.project-nav-bottom {
	padding-top: .8rem;
	padding-bottom: .8rem ;
}

.project-nav-bottom-button {
	width: 50%;
}

@media only screen and (min-width: 45rem) {
	.project-nav-bottom-button {
		width: 33.33333%;
	}
}

.project-nav-bottom-button-next {
	justify-content: flex-end;
}

.project-nav-bottom-button-next .proj-name {order: 1;}
.project-nav-bottom-button-next .direction {order: 2; margin-left: 1rem;}
.project-nav-bottom-button-prev .direction {margin-right: 1rem;}

@media only screen and (max-width: 45rem) {
	.proj-name {display: none;}
	
	.project-nav-bottom-button-next {align-items: flex-end;}
	.project-nav-bottom-button-prev {align-items: flex-start;}
	
}

@keyframes bounce-right {
  from,
  20%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50%,
  53% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(25px, 0px, 0);
    transform: translate3d(25px, 0, 0);
  }
}

@keyframes bounce-left {
  from,
  20%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50%,
  53% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(-25px, 0px, 0);
    transform: translate3d(-25px, 0, 0);
  }
}

.project-nav-bottom-button-prev:hover .proj-name {
  -webkit-animation-name: bounce-right;
  animation-name: bounce-right;
  -webkit-transform-origin: center right;
  transform-origin: center right;
	animation-duration: 900ms;
}

.project-nav-bottom-button-next:hover .proj-name {
  -webkit-animation-name: bounce-left;
  animation-name: bounce-left;
  -webkit-transform-origin: center left;
  transform-origin: center left;
	animation-duration: 900ms;
}


/* -------- INTRO -------- */

.intro {width: 100%; padding-top: 5%; padding-bottom: 10%;}
.hello {
	font-size: 26vw; 
	margin-bottom: -.1em; 
	font-family: 'pilowlavaregular', sans-serif; 
	letter-spacing:-0.05em;
	margin-left: -12px;
	margin-right: -20px;
}
.intro p {display: inline;}

/* -------- HEADLINE ------- */

.headline .container {
	text-align: center;
	justify-content: space-between;
	justify-content: center;
	padding: 15% 2%;
}

/* ---------- PROJECT INTRO --------- */

.proj-intro {padding-bottom: 7%;}

.proj-intro h1, .proj-intro p {display: inline;}

.proj-info {margin-top: 6.5%;}

.info-col h2 {margin-bottom: .65rem;}

.info-col {margin-right: 5%;}

.info-col p, .info-col ul {color: #343332;}

.external {
	display: inline-block;
	width: 13px;
	margin-left: 10px;
	padding-bottom: 3px;
}

/* INFO */

.info-wide-col {width: 75%;}
.info-narrow-col {width: 25%;}

.info-block {width: 50%;}